@if (product) {
  <mat-card appearance="raised">
    <img src="{{  product.pictureUrl }}" alt="alt imge of {{ product.name }}" class="w-full h-48 object-cover" />

    <mat-card-content class="text-sm font-semibold uppercase">
      {{ product.name }}
      <p class="font-light">{{ product.price | currency }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="w-full">
        <mat-icon>add_shopping_cart</mat-icon>
        Add to cart
      </button>
    </mat-card-actions>
  </mat-card>
}
